body {
    font-family:'Inter'; /* Семейство шрифтов */
    font-size: 16px; /* Размер основного шрифта в <p></p>  */
    background-color: #5988FF; /* Цвет фона веб-страницы */
    color: #333333; /* Цвет основного текста */ 

}
h1 {
    color: #FD98FB; /* Цвет заголовка */
    font-size: 36px; /* Размер шрифта в пунктах */
    font-family: 'Inter'; /* Семейство шрифтов */
}

h2 {
    color:#FD98FB;
    font-family: 'Inter';
    font-size: 24px;
    
}
h2:hover{
    animation: rainbow 8s infinite;
}
ul {
    color:#D6FF6B;
    font-family: 'Inter';
}
p {
    color:#FFFFFF;
    font-family: 'Inter';
}
li:hover{
    animation: whiteblack 3s infinite;
}
button{
    width: 100px;
    height: 50px;
    animation: rainbow 8s infinite;
}
@keyframes rainbow {
    0% {
        color: red;
    }
    14%{
        color: orange;
    }
    28%{
        color: yellow;
    }
    42%{
        color: green;
    }
    57%{
        color: rgb(0, 238, 255);
    }
    71%{
        color: blue;
    }
    85%{
        color: purple;
    }
    100%{
        color: red;
    }
}

@keyframes whiteblack {
    0% {
        color: white;
    }

    50%{
        color: black;
    }
    100%{
        color: white;
    }
}
